
.header-profile h3{
    color: white;
}

.header-profile-nome{
margin-right: 50px;

}

.header-profile-tipoconta{
    margin-right: 50px;
    color: white;
}

.header-profile-logout{
    margin-right: 50px;

}
