
.header-profile h3{
    color: white;
}

.header-profile-nome{
margin-right: 50px;

}

.header-profile-tipoconta{
    margin-right: 50px;
    color: white;
}

.header-profile-logout{
    margin-right: 50px;

}
/* TELA DE LOGIN*/



.titulo-tcc{
    margin: auto;
    margin: 5%;
   
}

.titulo-tcc h1{
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.footer-login{
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 17px 15px;
}
